<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="../static/login.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
    <!-- Modal -->
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: block"
        aria-labelledby="exampleModalLabel" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column" id="main">
                        <h1>login</h1>
                        <h3>Reconnect with Nature, Reclaim Your Health</h3>
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" name = "email" class="form-control" id="exampleInputEmail1" placeholder="E-mail" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name = "password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" />
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                            <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Bootstrap JS for modal functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>